{% extends "base.html" %}

{% block title %} {{config.i18n.articles}} | {{ config.site_title }} {% endblock %}

{% block head %}
<meta name="description" content="{{ config.site_description }}">
{% for lang in languages %}
{% if lang != config.language %}
    <link rel="alternate" hreflang="{{lang}}" href="{% if lang != default_lang %}/{{lang}}{% endif %}/articles" />
{% endif %}
{% endfor %}
{% if current_page > 1 %}
    <link rel="prev" href="{% if config.language != default_lang %}/{{config.language}}{% endif %}/articles{% if (current_page - 1) > 1 %}/page/{{ current_page - 1 }}{% endif %}" />
{% endif %}
{% if current_page < num_pages %}
    <link rel="next" href="{% if config.language != default_lang %}/{{config.language}}{% endif %}/articles/page/{{ current_page + 1 }}" />
{% endif %}
{% endblock%}

{% block content %}
    <div class="px-4 md:px-0 md:max-w-3xl mx-auto pb-28">
        <h1 class="text-4xl font-bold mb-12 text-center mt-2">{{config.i18n.articles}}</h1>
        {% include "_post_list.html" %}

        {% if num_pages > 1 %}
        <nav class="mt-12">
            <ul class="flex justify-center">
                {% if current_page > 1 %}
                    <li>
                        <a href="{% if config.language != default_lang %}/{{config.language}}{% endif %}/articles{% if (current_page - 1) > 1 %}/page/{{ current_page - 1 }}{% endif %}" class="px-3 py-2 border rounded-l-md border-gray-300 bg-white text-gray-500 hover:text-gray-700">{{config.i18n.previous}}</a>
                    </li>
                {% endif %}

                {% for i in range(1, num_pages + 1) %}
                    {% if i == current_page %}
                        <li>
                            <span class="px-3 py-2 border border-gray-300 bg-white text-gray-900 font-bold">{{ i }}</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% if config.language != default_lang %}/{{config.language}}{% endif %}/articles{% if i > 1 %}/page/{{ i }}{% endif %}" class="px-3 py-2 border border-gray-300 bg-white text-gray-500 hover:text-gray-700">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if current_page < num_pages %}
                    <li>
                        <a href="{% if config.language != default_lang %}/{{config.language}}{% endif %}/articles/page/{{ current_page + 1 }}" class="px-3 py-2 border rounded-r-md border-gray-300 bg-white text-gray-500 hover:text-gray-700">{{config.i18n.next}}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock %}
